<div class="toolbar" role="banner">
  <span>Advent of Code 2021 - authored by Chris Bognar</span>
</div>

<div role="main">
  <div id="main">
    <span>{{ title }} app is running!</span>
    <div >Day 1 Part 1 answer: {{day1Part1}} </div>
    <div >Day 1 Part 2 answer: {{day1Part2}} </div>

    <div >Day 2 Part 1 answer: {{day2Part1}} </div>
    <div >Day 2 Part 2 answer: {{day2Part2}} </div>

    <div >Day 3 Part 1 answer: {{day3Part1}} </div>
    <div >Day 3 Part 2 answer: {{day3Part2}} </div>

    <div >Day 4 Part 1 answer: {{day4Part1}} </div>
    <div >Day 4 Part 2 answer: {{day4Part2}} </div>

    <div >Day 5 Part 1 answer: {{day5Part1}} </div>
    <div >Day 5 Part 2 answer: {{day5Part2}} </div>

    <div >Day 6 Part 1 answer: {{day6Part1}} </div>
    <div >Day 6 Part 2 answer: {{day6Part2}} </div>

    <div >Day 7 Part 1 answer: {{day7Part1}} </div>
    <div >Day 7 Part 2 answer: {{day7Part2}} </div>

    <div >Day 8 Part 1 answer: {{day8Part1}} </div>
    <div >Day 8 Part 2 answer: {{day8Part2}} </div>

    <div >Day 9 Part 1 answer: {{day9Part1}} </div>
    <div >Day 9 Part 2 answer: {{day9Part2}} </div>

    <div >Day 10 Part 1 answer: {{day10Part1}} </div>
    <div >Day 10 Part 2 answer: {{day10Part2}} </div>

    <div >Day 11 Part 1 answer: {{day11Part1}} </div>
    <div >Day 11 Part 2 answer: {{day11Part2}} </div>

    <div >Day 12 Part 1 answer: {{day12Part1}} </div>
    <div >Day 12 Part 2 answer: {{day12Part2}} </div>

    <div >Day 13 Part 1 answer: {{day13Part1}} </div>
    <div >Day 13 Part 2 answer: {{day13Part2}} </div>

    <div >Day 14 Part 1 answer: {{day14Part1}} </div>
    <div >Day 14 Part 2 answer: {{day14Part2}} </div>

    <div >Day 15 Part 1 answer: {{day15Part1}} </div>
    <div >Day 15 Part 2 answer: {{day15Part2}} </div>

    <div >Day 16 Part 1 answer: {{day16Part1}} </div>
    <div >Day 16 Part 2 answer: {{day16Part2}} </div>

    <div >Day 17 Part 1 answer: {{day17Part1}} </div>
    <div >Day 17 Part 2 answer: {{day17Part2}} </div>

    <div >Day 18 Part 1 answer: {{day18Part1}} </div>
    <div >Day 18 Part 2 answer: {{day18Part2}} </div>

    <div >Day 19 Part 1 answer: {{day19Part1}} </div>
    <div >Day 19 Part 2 answer: {{day19Part2}} </div>

    <div >Day 20 Part 1 answer: {{day20Part1}} </div>
    <div >Day 20 Part 2 answer: {{day20Part2}} </div>

    <div >Day 21 Part 1 answer: {{day21Part1}} </div>
    <div >Day 21 Part 2 answer: {{day21Part2}} </div>

    <div >Day 22 Part 1 answer: {{day22Part1}} </div>
    <div >Day 22 Part 2 answer: {{day22Part2}} </div>

    <div >Day 23 Part 1 answer: {{day23Part1}} </div>
    <div >Day 23 Part 2 answer: {{day23Part2}} </div>

    <div >Day 24 Part 1 answer: {{day24Part1}} </div>
    <div >Day 24 Part 2 answer: {{day24Part2}} </div>

    <div >Day 25 Part 1 answer: {{day25Part1}} </div>
    <div >Day 25 Part 2 answer: {{day25Part2}} </div>
  </div>
</div>
